@import "variables";

body {
  color: #333;
  background-color: #fff;
  padding: 0 0.25rem 1rem;
}

@media (min-width: 40em) {
  body {
    padding: 0 2rem 2rem;
  }
}
@media (min-width: 80em) {
  body {
    padding: 0 5rem 2rem;
  }
}

.help {
  text-decoration: none;
}

header {
  padding: 2rem 0;
}

// Override bootstrap.
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

@import "base/code";
@import "base/details";
@import "base/typography";
