body {
  padding: 0 0.25rem 1rem;
}
@media (min-width: 576px) {
  body {
    padding: 0 2rem 2rem;
  }
}
@media (min-width: 768px) {
  body {
    padding: 0 5rem 2rem;
  }
}

.help {
  text-decoration: none;
}

header {
  padding: 1rem 0 2rem;
}
@media (min-width: 576px) {
  header {
    padding: 2rem 0;
  }
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

details {
  border: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

details summary {
  font-size: calc(1.295rem + 0.54vw);
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  background-size: 1.7rem 1.7rem;
  color: #009f90;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M53 29H35V11a3 3 0 00-6 0v18H11a3 3 0 000 6h18v18a3 3 0 006 0V35h18a3 3 0 000-6z' fill='%23009F90'/%3E%3C/svg%3E");
  border-bottom: 1px solid #009f90;
  padding-right: 2rem;
}
@media (min-width: 1200px) {
  details summary {
    font-size: 1.7rem;
  }
}

details[open] summary {
  border-bottom-width: 3px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M53 34H11a3 3 0 010-6h42a3 3 0 010 6z' fill='%23009F90'/%3E%3C/svg%3E");
}

summary {
  cursor: pointer;
}

details > summary {
  list-style: none;
}

details > .details__content {
  padding: 1rem;
}

body {
  font-family: "PT Serif", Georgia, serif;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}

.title h1,
.title h2 {
  color: #8fdfd0;
  margin: 0;
}

h1 {
  font-size: calc(1.625rem + 4.5vw);
  line-height: 1;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  color: #5e504c;
  font-weight: 700;
  font-size: calc(1.4rem + 1.8vw);
  line-height: 1.3em;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.75rem;
  }
}

h3 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 700;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}

*:not(div) + h2,
*:not(div) + h3,
*:not(div) + h4 {
  margin-top: 2.5rem;
}

h4 {
  font-weight: bold;
  font-size: calc(1.265rem + 0.18vw);
  line-height: 1.3em;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.4rem;
  }
}

small {
  color: gray;
}

p {
  margin: 0.3em 0 0.6em 0;
  line-height: 1.6em;
}

blockquote {
  background: #eee;
  padding: 20px;
  font-style: italic;
  text-align: center;
  color: #69f;
  margin: 20px 0;
}
