@import "../variables";

body {
  font-family: "Nunito", "Helvetica Neue", Arial, sans-serif;
  @include font-size(1.5rem);
}

h1,
h2,
h3 {
  font-family: "Nunito", "Helvetica Neue", Arial, sans-serif;
  font-weight: 1000;
}

.title h1,
.title h2 {
  color: #8fdfd0;
  margin: 0;
  font-weight: 1000;
  text-transform: uppercase;
}

h1 {
  @include font-size(5rem);
  line-height: 1;
}

h2 {
  color: #5e504c;
  @include font-size(2.75rem);
}

h3 {
  @include font-size(2rem);
}

*:not(div) + h2,
*:not(div) + h3,
*:not(div) + h4 {
  margin-top: 2.5rem;
}

h4 {
  font-weight: bold;
  @include font-size(1.4rem);
  line-height: 1.3em;
}

blockquote {
  background: #eee;
  padding: 20px;
  font-style: italic;
  text-align: center;
  color: #87b3a7;
  margin: 20px 0;
}
