<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Drupal Development &bull; Joël Pittet</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="assets/prismjs/themes/prism-tomorrow.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <script defer src="assets/fontawesome/js/solid.js"></script>
    <script defer src="assets/fontawesome/js/fontawesome.js"></script>
</head>
<body>

    <div class="container">
        <header class="row title">
        {% block header %}{% endblock %}
        </header>
        <div class="row justify-content-md-end gx-md-5">
            <aside class="col-md-4">
                {% block aside %}{% endblock %}
            </aside>
            <main class="col-md-8">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
{#    <script src="js/popperjs/popper.js"></script>#}
    <script src="js/bootstrap/dom/event-handler.js"></script>
    <script src="js/bootstrap/dom/selector-engine.js"></script>
    <script src="js/bootstrap/dom/data.js"></script>
    <script src="js/bootstrap/dom/manipulator.js"></script>
    <script src="js/bootstrap/base-component.js"></script>
{#    <script src="js/bootstrap/collapse.js"></script>#}
{#    <script src="js/bootstrap/tooltip.js"></script>#}
{#    <script src="js/bootstrap/popover.js"></script>#}
    <script src="assets/prismjs/prism.js"></script>
</body>
</html>
