{% extends "base.twig" %}

{% block header %}
    <h1>Drupal Global Contribution Weekend</h1>
    <h2>Vancouver 2022</h2>
{% endblock %}

{% block aside %}

    <h2><i class="fa-solid fa-arrow-down"></i> On this page</h2>
    <dl>
        <dd><a href="#setup">Getting Set-up</a></dd>
        <dd><a href="#agenda">During the day</a></dd>
        <dd><a href="#references">References</a></dd>
        <dd><a href="#location">Where</a></dd>
        <dd><a href="#time">When</a></dd>
        <dd><a href="#thanks">Thanks</a></dd>
    </dl>

    <h2 id="location"><i class="fa-solid fa-location-pin"></i> Where</h2>
    <a href="https://ubc.zoom.us/meeting/register/u5wod-uvpz8pGNe30n4c-mi8Wq8EinZ2armJ">Zoom Registration</a>
    <h2 id="time"><i class="fa-solid fa-calendar"></i> When</h2>
    <p class="lead">Friday, January 28<sup>th</sup>, 2022<br/>9am &ndash; 5pm</p>
    <p class="lead">Saturday, January 29<sup>th</sup>, 2022<br/>9am &ndash; 5pm</p>
    <p class="lead">Sunday, January 30<sup>th</sup>, 2022<br/>Free-for-all</p>
    <h2 id="thanks"><i class="fa-solid fa-hand-holding-heart"></i> Thanks</h2>
<p>Thanks to UBC Computer Science department for hosting the Zoom.
    {#    <!-- <a href="https://thejibe.com/"><img src="https://thejibe.com/themes/quirky/ecommerce_agency.png" class="jibe-logo" /></a></p>
  <address>Suite 202 - 311 Water St, Vancouver, BC<br/>
  Vancouver, Canada V6B 1B8<br/>
  Street maps of The Jibe's office location
  </address>
  <a href="https://maps.google.com/maps?q=311+Water+St+%23202,+Vancouver,+BC,+Canada&hl=en&sll=37.0625,-95.677068&sspn=60.288153,105.732422&t=h&hnear=311+Water+St+%23202,+Vancouver,+British+Columbia+V6B+4Y2,+Canada&z=16" class="map-link">
  <img src="https://a.tiles.mapbox.com/v3/stevekrueger.map-3dhy0n3s/-123.10876999999998,49.28456,17/320x320.png" /> -->
   </a>#}
    {% endblock %}
{% block content %}
    <h2 id="setup"><i class="fa-solid fa-tools"></i> Getting Set-up</h2>

    <p class="text-warning"> <em>Please have these steps' setup before the contribution weekend!</em></p>

    <h3>1. Create an account on <a href="https://drupal.org/user/register">Drupal.org</a></h3>
    <h3>2. Join the conversation Drupal's <a href="https://www.drupal.org/slack">Slack</a> groups</h3>

    <p>Add <a href="https://www.drupal.org/slack">Drupal Slack</a> and <a href="https://vandug.herokuapp.com/">Van DUG</a> groups.

    <p>Join the <code>#contribute</code> slack channels.</p>

    <h3>3. <i class="fa-solid fa-hiking"></i> Choose your own adventure:</h3>
    <details>
        <summary>Local Development Environment: DDEV</summary>
        <div class="details__content">
            <ol>
                <li>
                    <strong>Install <a href="https://git-scm.com/downloads">git</a></strong>
                </li>
                <li>
                    <p><strong>Install <a href="https://ddev.readthedocs.io/en/stable/">DDEV</a></strong>
                    </p>
                </li>
                <li>
                    <p><strong>Create a local Drupal website:</strong>
                        <strong>Clone <a href="https://www.drupal.org/project/drupal/git-instructions">Drupal 9</a> with git:</strong>
                    </p>
                    <pre><code class="language-bash">mkdir ~/Sites/d9
cd ~/Sites/d9
git clone https://git.drupalcode.org/project/drupal.git web
ddev config</code></pre>
                </li>
                <li><strong>Install Drupal and <em>you're ready to patch!</em></strong>

                    <p>From within the project directory</p>
                    <pre><code class="language-bash">ddev drush si standard</code></pre>
                </li>
            </ol>
        </div>
    </details>

    <details>
        <summary>Cloud Development Environment: DrupalPod</summary>
        <div class="details__content">This is great if you don't want to touch your machine(or can't) yet still want to
            code.
            <a href="https://www.drupal.org/project/drupalpod">DrupalPod</a></div>
    </details>

    <details>
        <summary>Existing Development Environment: DYI</summary>
        <div class="details__content"><p>You already have your setup, great! Carry on...</p>
            <p>Have a peak at the <a href="https://www.drupal.org/docs/system-requirements">Drupal requirements</a> to tweak your setup.
            <p>There are plenty more local development environments to choose from in the guide: <a href="https://www.drupal.org/docs/develop/local-server-setup">Local server setup</a>.
        </div>
    </details>

    <details>
        <summary>No Development Environment</summary>
        <div class="details__content">There are plenty of ways to contribute without setting up a development environment, from simplytest.me,
            editing documentation and helping triage and move issues, to editing files directly in Gitlab on
            drupal.org.</div>
    </details>

    <h2 id="agenda"><i class="fa-solid fa-cloud-sun"></i> During the day</h2>

        <p class="lead">Work with a group on porting and testing a contributed module to Drupal 9 or 10</p>

    <em class="text-muted">or</em>

    <p class="lead">
      Take a look at the <a href="https://www.drupal.org/contributor-tasks">Contributor tasks</a>. <strong>Work with another contributor to find a task</strong>.
    </p>

    <p>Depending on interest/audience, we will gladly show offer to do a demo/training session. And breakout rooms if need be, for example, to tackle
        <a href="https://www.drupal.org/project/issues/search/feeds">feeds issues</a> or <a href="https://www.drupal.org/project/issues/search/basic">basic issues</a>.
    </p>

    <h2 id="references"><i class="fa-solid fa-book"></i> References</h2>

    <h3>Contributing</h3>
    <ul>
        <li><a href="https://www.drupal.org/community/contributor-guide">Contributor Guide</a></li>
        <li><a href="https://www.drupal.org/project/issues/search/drupal">Core Issue Queue</a></li>
    </ul>

    <h3>Standards</h3>
    <ul>
        <li><a href="https://drupal.org/coding-standards">Drupal coding standards</a></li>
        <li><a href="https://drupal.org/node/1354">API documentation standards</a></li>
    </ul>

    <h3>Additional tooling-up</h3>
    <ul>
        <li><a href="https://www.drupal.org/tools">"Official" Drupal Contribution Tools</a> <small>(hint: it's DDEV with
                extras)</small></li>
    </ul>

    <h3>Core</h3>
    <ul>
        <li><a href="https://www.drupal.org/about/core/strategic-initiatives">Strategic Initiatives</a></li>
        <li><a href="https://www.drupal.org/about/core/policies">Core Development Policies</a></li>
        <li><a href="https://www.drupal.org/core/roadmap">Core Roadmap</a></li>
    </ul>
{% endblock %}

